__pycache__
*.pyo
*.pyc
.vscode
*.log
.coverage
data/
datapackages/
local_settings.py
.~lock*
*~
*.egg-info
.pytest_cache
# environment variables
env.airflow
env.harvester
harvest_datasets_datagov_analysis.csv
docker-compose-override.yml