LOAD_EX=n
FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
EXECUTOR=Celery
# REDIS_PASSWORD=redispass
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow

AIRFLOW__WEBSERVER__WEB_SERVER_PORT=8081
AIRFLOW__WEBSERVER__WEB_ENDPOINT_URL=8081

# airflow CFG
# [webserver]
# web_server_port = 8080
# endpoint_url = http://localhost:8080