ckan-harvester>=0.108

dataflows==0.0.56
python-slugify==3.0.2
requests==2.22.0
datapackage==1.6.2
pytz==2019.1
coverage==4.5.3
pytest==5.0.1
pytest-cov==2.7.1
apache-airflow==1.10.4
mock
Jinja2==2.10.1
OWSLib>=0.18.0
